<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Springboot2022</title>

    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">

</head>
<body>

<h2>Insert library</h2>

<form th:action="@{/submitLibraries}" th:object="${libraries}" method="post">

    <div class="form-group row">
        <label>Library Name:</label>
        <input th:field="${libraries.name}" type="text">
    </div>

    <div class="form-group row">
        <label>Library location:</label>
        <input th:field="${libraries.location}" type="text">
    </div>

    <div class="form-group row">
        <button type="submit" class="btn btn-success">Insert</button>
    </div>

</form>

</body>

<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</html>